{% extends "base.html" %}
{% block content %}

    <!-- For current user -->
  {% if session.get("user_id") %}
  <div class="grid grid-cols-2 pt-8 pr-12">
    <div class="">Welcome to your MoneyTalks account overview, {{ session["username"] }}!</div>

    <div class="text-end rounded-l">
      Balance R{{ balanceInfo[3] }}
    </div>
  </div>




    <!-- For when there is no user logged in -->
  {% else %}
    <h2>Welcome!</h2>
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a>.</p>
  {% endif %}
{% endblock %}
